body {
    text-align: center; 
    margin: 0;  
    background: white;
}

h1 {
    padding-top: 20px;
    margin: 0;
}


#hero {
    text-shadow: 0px 0px 1px black;
    margin: 0;
    color: white;
    height: 433px;
    background-image: url("images/istanbul.jpg");
    background-size: 100% 100%;
}

.wrapper {
    height: 343px;
    margin-left: 20px;
}

#activities {
    background: #CFD6E6;
    display: flex;
    justify-content: center;
    height: 433px;
}


#guide {
    display: flex;
    width: 400px;
    margin: 0 auto;
    background: #7C98B3;
    border: 1px solid black;
}

#guide-bd{
    padding-top: 20px;
    height: 433px;
    background: linear-gradient(#93A5CE,#E4EEE9);
  
}

#guide-text {
    margin: auto;
}



.img-activities {
    margin-top: 50px;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#img-guide {
    margin: 20px 10px ;
    width: 200px;
    height: 250px;
    border-radius: 20px;
}



p {
    width: 200px;
    margin: 0 auto;
}

#bio {
    width: 100px;
}

h4 {
    width: 200px;
    margin: 10px auto;
}




